/* VARIABLES */
:root {
	--ff-body: "Poppins", sans-serif;

	--font-size-300: clamp(0.8333rem, 0.7754rem + 0.2899vw, 1rem);
	--font-size-400: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
	--font-size-500: clamp(1.2rem, 1.0739rem + 0.6304vw, 1.5625rem);
	--font-size-600: clamp(1.44rem, 1.2615rem + 0.8924vw, 1.9531rem);
	--font-size-700: clamp(1.728rem, 1.4799rem + 1.2407vw, 2.4414rem);
	--font-size-800: clamp(2.0736rem, 1.7334rem + 1.7011vw, 3.0518rem);
	--font-size-900: clamp(2.4883rem, 2.027rem + 2.3067vw, 3.8147rem);

	--clr-primary: #724599;
	--clr-secondary: #e63946;
	--clr-dark: #1b1818;
	--clr-light-1: #fff;
	--clr-light-2: #e2e8f0;
	--clr-grey: #999999;

	--box-shadow: 0px 14px 17px -12px rgba(0, 0, 0, 0.51);
	--border-radius-1: 15px;
	--border-radius-2: 50px;
}

/* GENERAL STYLES */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--ff-body);
	font-size: var(--font-size-400);
	min-height: 100vh;
}

input,
button,
textarea,
select {
	font: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	width: 100px;
}

/* LAYOUT */

.grid-layout {
	display: grid;
	grid-template-columns: 1fr 4.5fr;
	grid-template-areas:
		"sidebar header"
		"sidebar main";
}

/* SIDEBAR */
#sidebar {
	background: var(--clr-primary);
	color: var(--clr-light-1);
	padding: 2rem;

	grid-area: sidebar;
}

#sidebar .title {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1.5rem;
}

#sidebar .title img {
	width: clamp(2rem, 8vw, 3rem);
}

#sidebar .title h1 {
	font-size: var(--font-size-700);
	font-weight: 700;
}

#sidebar .sidebar-btns {
	margin: 5rem 0;

	display: grid;
	gap: 1.5rem;
}

#sidebar .sidebar-btns li {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 2rem;
}

#sidebar .sidebar-btns img {
	width: clamp(1.5rem, 8vw, 2rem);
	margin-left: 0.5rem;
}

#sidebar .sidebar-btns a {
	font-size: var(--font-size-500);
	font-weight: 600;
}

#sidebar .sidebar-btns a:hover {
	text-decoration: 1px underline;
}

/* HEADER */
#header {
	box-shadow: var(--box-shadow);
	z-index: 1;

	grid-area: header;
}

/* MAIN */
#main {
	background: var(--clr-light-2);

	grid-area: main;
}
